In [0]:
# Analysis of Annotation.csv
import pandas as pd

In [0]:
data = pd.read_csv("annotation.csv")

In [0]:
data.head()

   scene  sample  ... action_id new_scene
0    111       0  ...         1       111
1    111       0  ...         0       111
2    111       0  ...         2       111
3    111       0  ...         1       111
4    111       0  ...         1       111

[5 rows x 15 columns]

In [0]:
## check for imbalance: ( checking bounding boxes category) - overall

import collections

counts_bb = collections.Counter(data['category'])
new_list_count = sorted(counts_bb.items(), key = lambda x:x[1], reverse = True)
#new_lis
bbDF = pd.DataFrame(new_list_count, columns=['category', 'Frequency'])
bbDF

        category  Frequency
0            car      49056
1     pedestrian       3860
2        bicycle       3219
3  other_vehicle       1811
4          truck        954
5            bus        691
6     motorcycle         90
7         animal         34

In [0]:
## check for imbalance: (checking action) - overall

counts_action = collections.Counter(data['action'])
newList_countAcc = sorted(counts_action.items(), key = lambda x:x[1], reverse = True)
#new_lis
nwCADF = pd.DataFrame(newList_countAcc, columns=['category', 'Frequency'])
nwCADF

                                       category  Frequency
0                          object_action_parked      23664
1        object_action_driving_straight_forward      21337
2                         object_action_stopped       9053
3                         object_action_walking       2798
4                        object_action_standing        830
5                       object_action_left_turn        736
6                      object_action_right_turn        632
7                         object_action_running        197
8                object_action_lane_change_left        146
9               object_action_lane_change_right        141
10                         object_action_u_turn        111
11                   object_action_other_motion         41
12                        object_action_sitting         28
13  object_action_abnormal_or_traffic_violation          1

In [0]:
## check for imbalance: ( checking bounding boxes category) -  per scene, per sample
dr = data.groupby(['scene', 'sample', 'category'])['category'].size()
dr.head(40)
dr.to_csv('sceneSampleCategory.csv', sep='\t', encoding='utf-8')

In [0]:
## check for imbalance: ( checking action) -  per scene, per sample
dr1 = data.groupby(['scene', 'sample', 'action'])['action'].size()
dr1.to_csv('sceneSampleAction.csv', sep='\t', encoding='utf-8')
dr1.head(40)

scene  sample  action
106    0       object_action_driving_straight_forward     4
               object_action_parked                      17
       1       object_action_driving_straight_forward     4
               object_action_parked                      20
       2       object_action_driving_straight_forward     5
               object_action_parked                      20
       3       object_action_driving_straight_forward     5
               object_action_parked                      20
       4       object_action_driving_straight_forward     5
               object_action_parked                      18
       5       object_action_driving_straight_forward     5
               object_action_parked                      20
       6       object_action_driving_straight_forward     4
               object_action_parked                      19
       7       object_action_driving_straight_forward     4
               object_action_parked                      19
       8       object_action_driving_straight_forward     4
               object_action_parked                      18
       9       object_action_driving_straight_forward     4
               object_action_parked                      17
       10      object_action_driving_straight_forward     4
               object_action_parked                      17
       11      object_action_driving_straight_forward     4
               object_action_parked                      15
       12      object_action_driving_straight_forward     4
               object_action_parked                      14
       13      object_action_driving_straight_forward     4
               object_action_parked                      15
       14      object_action_driving_straight_forward     4
               object_action_parked                      15
       15      object_action_driving_straight_forward     4
               object_action_parked                      15
       16      object_action_driving_straight_forward     4
               object_action_parked                      15
       17      object_action_driving_straight_forward     4
               object_action_parked                      17
       18      object_action_driving_straight_forward     4
               object_action_parked                      15
       19      object_action_driving_straight_forward     4
               object_action_parked                      16
Name: action, dtype: int64